# Hausaufgaben: if-else, Listen, for-Schleife
Im Folgenden finden Sie eine Reihe von Aufgaben. Wie letztes Mal bitte die entsprechenden Zellen ausfüllen und das Notebook auf Ilias hochladen.

### Aufgabe 2: Welche Zahlen in der Liste sind gerade?
Gegeben ist die Liste `l1` voller Zufallszahlen. Welche der Zahlen sind durch zwei teilbar? Geben Sie die durch 2 teilbaren Zahlen der Reiche nach aus.

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

for zahl in l1:
    if zahl % 2 == 0:
        print(zahl)

### Aufgabe 3: Erzeugen Sie Teillisten aus der geraden und ungeraden Zahlen
Gegeben ist die gleiche Liste wie eben. Erzeugen Sie die Liste `gl` der geraden Zahlen aus `l1` sowie die Liste `ul` der ungeraden Zahlen aus `l1`. Geben Sie die Anzahl der Elemente beider Liste (die Länge der Liste!) aus.

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

gl = []
ul = []
for zahl in l1:
    if zahl % 2 == 0:
        gl.append(zahl)
    else:
        ul.append(zahl)
        
print(gl)
print(ul)

print(len(l1), len(ul), len(gl))

### Aufgabe 4: Die Zeichen der ASCII-Tabelle in eine Liste schreiben
Die Funktion `chr()` gibt zu einer Zahl zwischen 0 und 127 das zugehörige Zeichen aus der ASCII-Tabelle aus. Beispielsweise ist `chr(48)` die Ziffer `0` und `chr(65)` der Buchstabe `A`. Ab 33 liegen *normale* Zeichen, vorher kommen Steuersymbole für eine Schreibmaschine. Erstellen Sie ein Programm, dass die Zeichen der ASCII-Tabelle von Position 33 bis Position 127 in eine Liste schreibt. Geben Sie die Liste anschließend mit `print()` aus. Hinweis: Lassen Sie eine `for`Schleife über einen `range` der entsprechenden Sequenz laufen. Bestimmen Sie die Zeichen mit `chr()` und fügen Sie diese in eine Liste ein.

In [ ]:
# Leere Liste erzeugen
ascii = []

# Liste füllen
for i in range(33, 128):
    char = chr(i)
    ascii.append(char)

# Liste ausgeben
print(ascii)

### Aufgabe 5: Liste von Listen erstellen¶

Gegeben sind die gleichen Listen wie in Aufgabe 1. Dort sollten Sie aus allen Listenelementen eine einzige Liste erstellen. In dieser Aufgabe sollen Sie ein Liste der Listen, nicht eine Liste der Einzelelement erstellen.

In [ ]:
l1 = [1, 2, 3, 4]
l2 = [11, 12, 13, 14]
l3 = [101, 102, 103, 104]

list_of_lists = [l1, l2, l3]
print(list_of_lists)

### Aufgabe 6: Liste von Listen mit Hilfe von range erstellen ...
Erstellen Sie eine Liste von Listen. Die erste Liste enthält die Werte [1, 2, ... 10], die zweite Liste die Werte [2, 4, ... 20], die zehnte Liste die Werte [10, 20, ... 100]. Diese zehn Listen sollen in eine übergeordnete Liste angeordnet werden. Man erhält im Grunde das kleine Ein-Mal-Eins.
Hinweis: Am besten nutzen Sie zwei verschachtelte `for`-Schleifen mit zwei Laufvariablen `i` und`j`.

In [ ]:
ein_mal_eins = []

for i in range(1, 11):
    l = []
    for j in range(1, 11):
        l.append(i * j)
    ein_mal_eins.append(l)
    
for l in ein_mal_eins:
    print(l)

### Aufgabe 7: Range und Teilbarkeit 
Erstellen Sie ein Programm, dass alle Zahlen zwischen 1500 und 3000 die durch 5 und durch 7 teilbar sind ausgibt.

In [ ]:
for zahl in range(1500, 3001):
    if zahl % 5 == 0 and zahl % 7 == 0:
        print(zahl)

### Aufgabe 8: Liste umdrehen
Gegeben ist obige Liste. Erstellen Sie die Liste `l2` in der die gleichen Werte in umgekehrter Reihenfolge auftauchen also [887, 66, 398, ..., 339, 199]

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

l2 = []
for zahl in l1:
    l2.insert(0, zahl)
print(l2)

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

l2 = []
for i in range(len(l1)-1, -1, -1):
    l2.append(l1[i])
print(l2)

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

l2 = []
for i in range(len(l1)):
    zahl = l1.pop()
    l2.append(zahl)
print(l2)
print(l1)

### Aufgabe 9: Elemente der Liste summieren
Schreiben Sie ein Programm, das alle Zahlen der Liste aufsummiert. Dazu müssen Sie zuerst eine zusätzliche Variable `sum` initialisieren. (Warum 0?) Geben Sie die Summe am Ende aus.

In [ ]:
l1 = [199, 339, 269, 464, 522, 634, 591, 863, 102, 31, 835, 40, 180, 655, 44, 478, 449, 833, 569, 423, 104, 27, 467, 668, 317, 413, 664, 111, 920, 561, 193, 29, 563, 841, 441, 92, 986, 905, 85, 555, 978, 140, 443, 628, 175, 549, 98, 424, 745, 63, 24, 38, 92, 80, 610, 73, 966, 934, 385, 892, 210, 471, 752, 55, 310, 478, 921, 864, 620, 973, 219, 650, 922, 893, 103, 789, 271, 894, 117, 588, 473, 823, 44, 102, 538, 620, 138, 569, 842, 378, 458, 535, 547, 913, 388, 710, 476, 352, 764, 162, 301, 435, 257, 934, 769, 365, 300, 947, 509, 48, 817, 338, 734, 808, 895, 613, 28, 269, 638, 290, 398, 66, 887]

summe = 0
for zahl in l1:
    summe += zahl
print(summe)
print(sum(l1))