 # Datentypen
 ## Voraussetzungen
 Diese Einheit setzt voraus, dass Sie folgende Inhalte kennen: Variablen, Ein- und Ausgabe.

 ## Primitive Datentypen
 In Python, wie auch in anderne Programamiersprachen, hat das Ergebnis der Auswertung eines Ausdrucks immer einen
 *Datentyp*. In den bisherigen Juypter Notebooks haben wir eine Reihe dieser *Datentypen* schon verwendet,
 ohne diese explizit zu erwähnen. Zum Beispiel enthält folgender Ausdruck zwei Werte vom *Datentyp* `Integer` (ganze Zahlen)

In [ ]:
1 + 2

 Prinzipiell unterschiedet man in Python zwischen den primitiven und komplexen *Datentypen*. In diesem Notbook werden
 wir zunächst die verschienden primitiven *Datentypen* einführen. in Python sind die in folgender Tabelle dargestellten
 primitiven *Datentypen* verfügbar.

 | Beschreibung   | Python Datentyp | Beispiele    |
 |----------------|-----------------|--------------|
 | Ganze Zahlen   | `Integer`         | 42, 0, -11   |
 | Kommazahlen    | `Float`           | 2.0, -3.14   |
 | Wahrheitswerte | `Boolean`         | True, False  |
 | Zeichenketten  | `String`          | "Hallo Welt" |

 Die eingebaute Python Funktion `type()` (https://docs.python.org/3/library/functions.html#type) kann verwendet werden, um den *Datentyp* eines Ausdrucks zu ermitteln.
 In der folgenden Zelle wird die Funktion `type()` verwendet um den *Datentyp* der Werte 41, -3.14, True und
 "Hallo Welt" auszugeben.

In [1]:
x = type(42)
print(x)
y = type("wer")
print(y)

<class 'int'>
<class 'str'>

In [2]:
print(type(42))
print(type(-3.14))
print(type(True))

s = "Hallo Welt"
print(type(s))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

Kurze Erklärung zur Schreibweise von `print(type(42))`: Hier werden die beiden Funktionen `print()` und `type()` in einander verschachtelt. Das heißt, `type()` erhält als Eingabewert die 42. Als Ausgabe von `type()` wird jetzt der Wert `<class 'int'>` erzeugt. Diese Ausgabe dient als Eingabe von `print()`. Als Ausgabe von `print()` wird der Wert dann ausgegeben. 

Funktionen können in einander verschachtelt werden. Sie werden dann von innen nach außen aufgerufen. Die Ausgabe einer Funktion dient dann jeweils als Eingabe für die nächst äußere Funktion.

 ## Integer
 Den ersten primitiven *Datentyp*, den wir im Detail besprechen ist der *Datentyp* `Integer`.
 Der *Datentyp* `Integer` wird verwendet, um ganze Zahlen darzustellen. Der Wertebereich des
 *Datentyps* umfasst also die Zahlen .., -3, -2, -1, 0, 1, 2, 3,... <br>

 Wichtig ist, dass der Wertebereich von `Integer` in Python lediglich durch den verfügbaren Arbeitsspeicher
 begrenzt ist. Somit können mit Python auch Berechnungen mit sehr großen Zahlen durchgeührt werden.
 in der folgenden Zelle sehen Sie einige Beispiele für den *Datentyp* `Integer`.
 Testen Sie auch selbst einige Zahlen.

In [3]:
print(type(2))
print(type(-5))

x = 10000000000000000000000000000000000000
print(type(x))

x_quadrat = x * x
print(x_quadrat)
print(type(x_quadrat))

<class 'int'>
<class 'int'>
<class 'int'>
100000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

 ## Float
 Im Gegensatz zum *Datentyp* `Integer` wird der *Datentyp* `Float` verwendet, um Fließkommazahlen darzustellen.
 Dabei werden Nachkommastellen durch einen Punkt (`.`) abgetrennt. Wie in der nachfolgenden Zelle zu
 sehen, unterstützt der *Datentyp* `Float` auch die Exponentialschreibweise. Die Notation 6.62e-34 steht
 dabei für die Zahl $ 6.62 * 10^{-34} $.

In [8]:
print(type(0.1))
print(type(0.0))

h = 6.63e-34            # https://de.wikipedia.org/wiki/Plancksches_Wirkungsquantum
print(h)
print(type(h))

g = 1e100               # https://de.wikipedia.org/wiki/Googol
print(g)
print(type(g))

<class 'float'>
<class 'float'>
6.63e-34
<class 'float'>
1e+100
<class 'float'>

 ## Operationen
 Eine Reihe von Operationen für primitive Datentypen haben Sie in der Einführugn zu Variablen schon kennengelernt.
 Folgende Tabelle stellt die wichtigsten Operationen nochmals dar.

  |  Beschreibung   | Operator | Beispiel     | Ergebis    |
  |-----------------|----------|--------------|------------|
  | Addition        | +        | 2 + 3        | 5          |
  | Subtraktion     | -        | 2 - 3        | -1         |
  | Multiplikation  | *        | 2 * 3        | 6          |
  | Division        | /        | 7 / 3        | 2.3333333333333335 |
  | Ganzzahlige Division | //  | 7 // 3       | 2          |
  | Modulo          | %        | 7 % 3        | 1          |
  | Exponentiation  | **       | 2 ** 0.5     | 1.4142135623730951 |

 Wie bereits erwähnt gelten in Python die üblichen Prioritäten für arithmetische Operationen.
 Klammern können verwendet werden, um die Reihenfolge der Auswertung zu steuern.

 ## Übung
 Testen Sie verschiedene Operationen für die *Datentypen* `Integer` und `Float`.
 Verwenden Sie dabei die Funktion type(), um den Typ einer Variablen zu ermitteln.
 Welcher Datentyp entsteht wenn ein `Integer`-Wert mit einem `Float`-Wert mittels eines Operators kombiniert wird?
 Ist das Ergebnis von Operationen auf `Integer`-Werten immer ein `Integer`-Wert?

In [9]:
integer_wert = 5
print(type(integer_wert))

float_wert = 6.78
print(type(float_wert))

kombinierter_wert = integer_wert + float_wert
print("Der kombinierte Wert ist vom Typ:", type(kombinierter_wert))

# Weitere Werte zum experimentieren:
print(-12345678900000000000.0)
print(3/1)
print(2e306 * 10)

<class 'int'>
<class 'float'>
Der kombinierte Wert ist vom Typ: <class 'float'>
-1.23456789e+19
3.0
2e+307

 ## Genauigkeit von Operationen auf `Float`-Werten
 Führen Sie die Berechnungen in den nachfolgenen Beiden Zelle aus.

 Sind die berechenten Ergebnisse korrekt? Was könnte die Ursache für diese Ergebnisse sein?

In [11]:
a = 0.1
b = 0.2

summe = a + b
print(summe)

0.30000000000000004

In [12]:
wurzel_aus_2 = 2 ** 0.5

zwei = wurzel_aus_2 ** 2
print(zwei)

2.0000000000000004

 Python stellt intern Fließkommazahlen mit einer Genauigkeit von 15 bis 16 Stellen im Binärsystem dar
 (https://de.wikipedia.org/wiki/IEEE_754). Durch diese Darstellung kann sowohl mit sehr großen und sehr kleine Zahlen
 gearbeitet werden. Allerdings kommt es in bestimmten Fällen zu Rundungsfehlern. Andere Zahlen können im
 Binärsystem nicht genau dargestellt werden (ähnlich der Zahl $1/3$ im Dezimalsystem).

 Einige weitere Beispiele zu möglichen Überaschungen bei der Arbeit mit Fließkommazahlen
 finden Sie hier: https://docs.python.org/3/tutorial/floatingpoint.html.

 ## Boolean
 Wahrheitswerte werden mit dem Datentyp `Boolean` dargestellt. Der Datentyp `Boolean` kann nur zwei Werte annehmen,
 `True` oder `False`.

 Für den Datentyp `Boolean` existiert eine Reihe spezieller logischer Operatoren.

 | Operator       | Erklärung                 | Beispiel             |
 |----------------|---------------------------|-----------------------|
 | not            | Negation                  | not y                 |
 | and            | Logisches Und             | x and y               |
 | or             | Logisches Oder            | a or b or c           |

 ## Übung
 In folgender Zelle finden Sie einige Beispiele für die Verwendung von `Boolean`-Werten.
 Was passiert wenn Sie einen `Boolean` Wert mit einem `Integer` Wert kombinieren? Was bei einer Kombination mit einem
 `Float`-Wert? Welche Operatoren können Sie hierzu verwenden?
 Von welchem Datentyp ist das Ergebnis?

In [13]:
print(False and False)
print(not False)

a = True
b = False

print("True and True: ",True and True)
print("a and b: ", a and b)
print("a or b: ",a or b)

print("Komplexer logischer Ausdruck: ", a and (b or (True and False)))

False
True
True and True:  True
a and b:  False
a or b:  True
Komplexer logischer Ausdruck:  False

 ## String
 Zur Verarbeitung von Zeichenketten wird der Datentyp `String` verwendet. Beim Datentyp `String` handelt es
 sich streng genommen nicht um einen primitiven Datentyp sondern um einen sequentiellen Datentyp. Da
 Zeichenketten jedoch in einfachen Programmen sehr häufig vorkommen, wird der Datentyp `String` trotzdem
 schon eingeführt.

 In Python können `Strings` entweder mit einfachem oder doppeltem Anführungszeichen angelegt werden.
 Zwischen den beiden Variaten gibt es feine Unterschieden, auf die an dieser Stelle jedoch noch nicht
 eingegangen wird. Wir werden deshalb bevorzugt doppelte Anführungszeichen bei der Arbeit mit `Strings` verwenden.

In [14]:
print(type("Hallo Welt"))

a = "Hallo"
b = "Welt"


print(a, b)
print(a+b)

print(3*a)

<class 'str'>
Hallo Welt
HalloWelt
HalloHalloHallo

### String Methoden
Es gibt in Python eine Reihe von Methoden, um `Strings` zu bearbeiten (https://docs.python.org/3/library/string.html).
Eine kleine Auswahl dieser Methoden ist
* `.lower()` ändert alle Großbuchstaben in Kleinbuchstaben.
* `.upper()` ändert alle Kleinbuchstaben in Großbuchstaben.
* `.replace()` dient dazu eine bestimmte Zeichenkette innerhalb eines `Strings` durch eine andere Zeichenkette zu ersetzen.

 ## Übung
 Testen Sie verschiedene Operationen für `Strings`.
 Was passiert wenn Sie versuchen einen `String` und einen `Integer` zu addieren?
 Nutzen Sie außerdem die oben genannten Methoden, um `Strings` zu bearbeiten.

In [15]:
a = "Ramones"
print(a.upper())

print("hitchhiker".replace("hi", "ma"))

RAMONES
matchmaker

 ## Übung
 Lesen Sie zwei Zahlen ein, die der Benutzer eingeben soll (Hinweis: verwenden Sie die Funktion
 `input()`). Addieren Sie die eingelesenen Zahlen und geben Sie das Ergebnis aus.

 Welches Problem tritt auf? Von welchem Datentyp sind die eingelesenen Werte?

In [18]:
a = input("Erste Zahl:")

# Folgende Zeilen bitte ergänzen

b = int(a)

print(type(b))

Erste Zahl:rtz

ValueError: invalid literal for int() with base 10: 'rtz'

## Konvertierung
Operationen auf `Strings` führen teilweise zu unerwarteten Ergebnissen. Der Versuch, einen `String` und
einen `Integer` zu addieren, führt zu einer Fehlermeldung. Die Addition von zwei `Strings` führt dazu,
dass die beiden Zeichenketten zusammengefügt werden.

Dies ist ein häufiges Problem wenn mit Benutzereingaben gearbeitet wird. Der Datentyp der Eingabe ist
immer `String`. Dieser muss ggf. in einen andern Datentyp umgewandelt werden, (man sagt dazu konvertiert), bevor damit
weitergearbeitet werden kanan. Zur Konvertierung zwischen den verschiedenen Datentypen stehen
in Python eine Reihe von eingebauten Funktionen (https://docs.python.org/3/library/functions.html) zur Verfügung.

 | Funktion       | Erklärung                                                        | Beispiel             |
 |----------------|------------------------------------------------------------------|----------------------|
 | int()          | Konvertiert den übergebenen Parameter in den Datentyp `Integer´. | int("10")            |
 | float()        | Konvertiert den übergebenen Parameter in den Datentyp `Float´.   | float("3.14")        |
 | bool()         | Konvertiert den übergebenen Parameter in den Datentyp `Boolean´. | bool("Hallo ")       |
 | str()          | Konvertiert den übergebenen Parameter in den Datentyp `String  . | str(True)        |

 ## Übung
 Führen Sie einige Konvertierungen zwischen den verschienden Datentypen aus.
 Analysieren Sie welchen Datentyp und welchen Wert das Ergebnis der Konvertierung hat.
 Was passiert wenn Sie verschiedene Konvertierungen verketten?

In [19]:
s = "Hallo"
i = 2019
print(s + str(i))

print(bool(0))

print(int(bool(3)))

print(str(bool("sdfs")))

Hallo2019
False
1
True

In [20]:
float("2.3e5")

230000.0

  ## Konvertierung und die Funktion `input()`
 Wie schon erwähnt ist das Ergebnis der Funktion `input()` immer vom Datentyp `String`. Wenn Sie einen
 anderen Datentyp benötigen, müssen Sie die eingegebenen Daten erst konvertieren. Das notwendige Vorgehen
 wird in den nachfolgenden Zellen dargestellt.

In [47]:
alter = input("Bitte geben Sie Ihr Alter ein: ")
alter = int(alter)
print(alter)
type(alter)

Bitte geben Sie Ihr Alter ein: 345
345

int

In [ ]:
# Alternative auch durch die Verkettung von Funktionen möglich
alter = int(input("Bitte geben Sie Ihr Alter ein: "))
type(alter)

  ## Übung
  Erstellen Sie eine neue Version des Quaderprogramms, das Länge, Breite und Höhe über die Inputfunktion einliest.

  - Hinweise:
    - In der Funktion `print()` können Sie mehrere Parameter ausgeben. Diese müssen durch Komma getrennt werden
      Beispiel: `print(a, b, c)`
    - In der Funktion print() können Sie auch `Strings` direkt als Parameter übergeben.
      Beispiel: `print("Das Ergebnis ist:")`