# Hausaufgaben
Laden Sie Ihre Lösung mit den Hausarbeiten auf Ilias bis zum Sonntag, 3.Mai, hoch. Bei Fragen oder Problemen, bitte Rückmeldung geben.
## Hausaufgaben zu Dateien
### Aufgabe 1 Zahlen aus Datei lesen
Die Datei `zahlen.txt` auf Ilias enthält mehrere Zahlen. In jeder Zeile steht eine Zahl. Lesen Sie die Datei ein. Geben Sie an wie viele Zahlen die Datei enthält und wie groß die Summe der Zahlen ist

In [4]:
summe = 0
anz = 0

numbers = open("zahlen.txt", "r")
for n in numbers:
    n = n.strip()
    n = int(n)
    summe += n
    anz += 1
numbers.close()

print(anz,summe)

1233 6229608

### Aufgabe 2 Geheimschrift decodieren
In der Datei `geheimtext.txt` steht ein Text, der codiert wurde. Statt der Buchstaben stehen da die "ASCII-Zahlen". Mit Hilfe des Befehls `chr(zahl)` können Sie diese Zahlen umwandeln. In jeder Zeile steht nur ein Zeichen. decodieren Sie die Datei und schreiben Sie das Ergebnis in die Datei `oeffentlichertext.txt`

In [6]:
text = open("geheimText.txt", "r")
oetext = open("oeffentlichertext.txt", "w")

for z in text:
    z = z.strip()
    z = int(z)
    b = chr(z)
    oetext.write(b)
text.close()
oetext.close()

## Hausaufgaben zu Tupeln
### Aufgabe 3 Datei auslesen und in Tupel verwandeln
In der Datei `daten.csv` im Ordner Snippet stehen mehrere Datensätze. Jede Zeile enthält einen Datensatz. Alle Datensätze sind von der Struktur gleich augebaut: Name, Vorname, Straße, …
Schreiben Sie ein Programm, dass die Datei einliest, die einzelnen Datensätze in geeignete Tupel zerlegt und die Tupel in eine Liste fügt. Zum Schluss soll die Liste Tupel für Tupel ausgegeben werden.

In [14]:
lop = []

datei = open("daten.csv", "r")
for z in datei:
    z = z.strip()
    t = z.split(";")
    t = tuple(t)
    lop.append(t)
datei.close()

print(lop)

[('Abbott', 'Jamie', 'Adalbertstraße', '100', '52074', 'Aachen', '0166 / 80062503', '0166 80062503'), ('Adams', 'Jesse', 'Admiralstraße', '94', '52076', 'Aachen', '0163 / 31575400', '0163 31575400'), ('Adkin', 'Jules', 'Alexandrinenstraße', '86', '52078', 'Aachen', '0157 / 47045272', '0157 47045272'), ('Ahearne', 'Kermit', 'Alfred-Döblin-Platz', '20', '52080', 'Aachen', '0162 / 45548773', '0162 45548773'), ('Albertson', 'Lawrence', 'Alte Brauerei', '26', '52134', 'Herzogenrath', '0153 / 55432166', '0153 55432166'), ('Aldrich', 'Liam', 'Alte Jakobstraße', '55', '52146', 'Würselen', '0175 / 72494565', '0175 72494565'), ('Alexander', 'Maddock', 'Am Johannistisch', '80', '52152', 'Simmerath', '0163 / 15001997', '0163 15001997'), ('Allard', 'Mark', 'Am Tempelhofer Berg', '34', '52156', 'Monschau', '0171 / 75739668', '0171 75739668'), ('Alper', 'Michael', 'Am Weinhang', '79', '52159', 'Roetgen', '0159 / 58037150', '0159 58037150'), ('Amherst', 'Morgan', 'An der Barthschen Promenade', '83', '52222', 'Stolberg (Rheinland)', '0173 / 50124658', '0173 50124658'), ('Amiel', 'Jason', 'Anhalter Straße', '19', '52223', 'Stolberg (Rheinland)', '0167 / 78565728', '0167 78565728'), ('Amis', 'Jim', 'Arndtstraße', '100', '52224', 'Stolberg (Rheinland)', '0171 / 77348780', '0171 77348780'), ('Andrew', 'Justin', 'Askanischer Platz', '77', '52249', 'Eschweiler', '0151 / 41164305', '0151 41164305'), ('Ansley', 'Kevin', 'Axel-Springer-Straße', '76', '52349', 'Düren', '0167 / 36937446', '0167 36937446')]

### Aufgabe 4 Buchstaben zählen
Die Datei `schimmelreiter.txt` enthält die ersten Seiten der Novelle "Der Schimmelreiter". Lesen Sie die Datei ein und zählen Sie anschließend, wie häufig jeder einzelne Buchstabe vorkommt. Gehen Sie dabei wie folgt vor:

- Lesen Sie die Datei ein, fügen Sie die einzelnen Zeilen zu einem langen String zusammen
- Ersetzen Sie in diesem Test alle Großbuchstaben durch Kleinbuchstaben
- Ersetzen sie in diesem String alle ä, ö, ü, ß durch ae, oe, ue, ss dass eine Liste von Tupeln erzeugt wird. 
- Mit Hilfe der Methode `.count()` können Sie das vorkommen jedes Buchstaben zählen.
- Erzeugen Sie eine Liste aus Tupeln. Dabei sieht jedes Tupel wie folgt aus: (Buchstabe, Anzahl). Also z.B. ("a", 123)
- Geben Sie zum Schluss die Liste tupelweise aus

In [27]:
text = ""
datei = open("schimmelreiter.txt", "r")
for z in datei:
    z = z.strip()
    z = z.lower()
    z = z.replace("ß", "ss")
    z = z.replace("ä", "ae")
    z = z.replace("ö", "oe")
    z = z.replace("ü", "ue")
    text = text + z
datei.close()

for i in range(97, 123):
    b = chr(i)
    print(b, text.count(b))

a 2494
b 715
c 1169
d 1940
e 6620
f 527
g 953
h 2078
i 2709
j 124
k 474
l 1156
m 950
n 3728
o 837
p 145
q 5
r 2616
s 2497
t 2212
u 1603
v 269
w 629
x 0
y 0
z 333

## Hausaufgaben zur `while`-Schleife
### Hausaufgabe 5 Collatz-Zahlen
Das Collatz-Problem gehört zu den ungelösten Problemen der Mathematik. Es besagt, dass jede Abfolge von Zahlen, welche nach der folgenden Regel gebildet wird, irgendwann bei der Zahl 1 landet:
- Die Folge beginnt bei einer beliebigen Zahl.
- Ist die momentane Zahl n gerade, so ist die nächste Zahl die Hälfte von dieser, also n/2
- Ist die momentane Zahl n ungerade, so ist die nächste Zahl um eins grösser als das dreifache der Zahl, also 3n+1  

Bilden wir beispielsweise für die Zahl 23 diese Folge, so lautet sie:
23,70,35,106,53,160,80,40,20,10,5,16,8,4,2,1
Schreiben Sie ein Programm, welches diese Folge für eine vom Benutzer gewählte Zahl ausgibt und mit der Berechnung stoppt, sobald 1 erreicht wurde.

In [33]:
n = int(input("Bitte eine Zahl eingeben: "))
while n != 1:
    if n % 2 == 0:
        n = int(n/2)
    else:
        n = 3 * n + 1
    print(n)

Bitte eine Zahl eingeben: 123456789
370370368
185185184
92592592
46296296
23148148
11574074
5787037
17361112
8680556
4340278
2170139
6510418
3255209
9765628
4882814
2441407
7324222
3662111
10986334
5493167
16479502
8239751
24719254
12359627
37078882
18539441
55618324
27809162
13904581
41713744
20856872
10428436
5214218
2607109
7821328
3910664
1955332
977666
488833
1466500
733250
366625
1099876
549938
274969
824908
412454
206227
618682
309341
928024
464012
232006
116003
348010
174005
522016
261008
130504
65252
32626
16313
48940
24470
12235
36706
18353
55060
27530
13765
41296
20648
10324
5162
2581
7744
3872
1936
968
484
242
121
364
182
91
274
137
412
206
103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

### Hausaufgabe 6 Würfeln
In einer der vorherigen Übungen haben Sie schon gewürfelt `(random.randint(1,6)`. Programmieren Sie jetzt einen Würfel, den man in einem tatsächlichen Spiel verwenden kann. Jedes mal, wenn Sie die Return-Taste drücken, wird ein Wurf gemacht und angezeigt. Solange, bis man ein Leerzeichen vor dem Return eingibt

In [37]:
import random
x = "s"
while x != " ":
    print(random.randint(1,6))
    x = input("")

5

4

1

6

1

5

4

2

1

2

5

6

## Gemischte Aufgabe
### Aufgabe 7 Studierende in QIS-Light
**Liste einlesen** In der Datei `studierende.txt` sind eine Reihe Studierende gespeichert. Jeder Datensatz besteht aus Matrikelnummer, Vorname, Name. Die Werte sind durch Semikolon von einander getrennt.

Lesen Sie die Studierenden ein eine Liste von Tupeln ein. Die Liste wird für die nächsten Aufgaben benötigt.

In [39]:
datei = open("studierende.txt", "r")
los = []
for z in datei:
    z = z.strip()
    t = z.split(";")
    t = tuple(t)
    los.append(t)
    
datei.close()
print(los)

[('3737170', 'Maria', 'Lange'), ('3600491', 'Lea', 'Neumann'), ('3168860', 'Sophie', 'Herrmann'), ('3654565', 'Tim', 'Roth'), ('3321023', 'Sophie', 'Mayer'), ('3267019', 'Lucas', 'Weiß'), ('3523559', 'Lea', 'Sauer'), ('3493209', 'Maria', 'Wolf'), ('3574919', 'Jonas', 'Haas'), ('3334197', 'Laura', 'Thomas'), ('3236581', 'Lea', 'Kaiser'), ('3721437', 'Tim', 'Lehmann'), ('3624873', 'Emily', 'Arnold'), ('3198803', 'Leon', 'Dietrich'), ('3567015', 'Maximilian', 'Schmitt'), ('3706812', 'Emily', 'Lang'), ('3750317', 'Anna', 'Schuster'), ('3399591', 'Leonie', 'Pohl'), ('3523876', 'Marie', 'Braun'), ('3189668', 'Lea', 'Meyer'), ('3636184', 'Alexander', 'Böhm'), ('3517527', 'Lucas', 'Günther'), ('3442056', 'Maria', 'Heinrich'), ('3772008', 'Sophie', 'Hofmann'), ('3556036', 'Leonie', 'Wolff'), ('3751206', 'Tim', 'Berger'), ('3177045', 'Marie', 'Schäfer'), ('3380364', 'David', 'Möller'), ('3593264', 'Tim', 'Schäfer'), ('3429067', 'Lucas', 'Maier'), ('3658579', 'Leonie', 'Schulz'), ('3710190', 'Alexander', 'Otto'), ('3348131', 'David', 'Krämer'), ('3278178', 'David', 'Schwarz'), ('3313335', 'Lea', 'Wolf')]

**Einfügen neuer Studierender:** Fügen Sie mehrere neue Studierende in die Liste ein. (`while`-Schleife, mit leerem Return abbrechen)

In [42]:
while True:
    matrnr = input("Bitte eine Matrikelnummer eingeben: ")
    if matrnr == "":
        break
    vorname = input("Bitte einen Vornamen eingeben: ")
    name = input("Namen eingeben:")
    t = (matrnr, vorname, name)
    los.append(t)
    
print(los)

Bitte eine Matrikelnummer eingeben: 123456
Bitte einen Vornamen eingeben: Hans
Namen eingeben:Schmitz
Bitte eine Matrikelnummer eingeben: 12345678
Bitte einen Vornamen eingeben: Hannah
Namen eingeben:Peters
Bitte eine Matrikelnummer eingeben:
[('3737170', 'Maria', 'Lange'), ('3600491', 'Lea', 'Neumann'), ('3168860', 'Sophie', 'Herrmann'), ('3654565', 'Tim', 'Roth'), ('3321023', 'Sophie', 'Mayer'), ('3267019', 'Lucas', 'Weiß'), ('3523559', 'Lea', 'Sauer'), ('3493209', 'Maria', 'Wolf'), ('3574919', 'Jonas', 'Haas'), ('3334197', 'Laura', 'Thomas'), ('3236581', 'Lea', 'Kaiser'), ('3721437', 'Tim', 'Lehmann'), ('3624873', 'Emily', 'Arnold'), ('3198803', 'Leon', 'Dietrich'), ('3567015', 'Maximilian', 'Schmitt'), ('3706812', 'Emily', 'Lang'), ('3750317', 'Anna', 'Schuster'), ('3399591', 'Leonie', 'Pohl'), ('3523876', 'Marie', 'Braun'), ('3189668', 'Lea', 'Meyer'), ('3636184', 'Alexander', 'Böhm'), ('3517527', 'Lucas', 'Günther'), ('3442056', 'Maria', 'Heinrich'), ('3772008', 'Sophie', 'Hofmann'), ('3556036', 'Leonie', 'Wolff'), ('3751206', 'Tim', 'Berger'), ('3177045', 'Marie', 'Schäfer'), ('3380364', 'David', 'Möller'), ('3593264', 'Tim', 'Schäfer'), ('3429067', 'Lucas', 'Maier'), ('3658579', 'Leonie', 'Schulz'), ('3710190', 'Alexander', 'Otto'), ('3348131', 'David', 'Krämer'), ('3278178', 'David', 'Schwarz'), ('3313335', 'Lea', 'Wolf'), ('123456', 'Hans', 'Schmitz'), ('12345678', 'Hannah', 'Peters')]

**Löschen von Studierenden:** Löschen Sie einen Studierenden aus der Liste. Fragen Sie nach der Matrikelnummer und löschen diesen dann aus der Liste.

In [48]:
matrnr = input("Bitte Matrikelnummer eingeben: ")
s = "x"
for t in los:
    if t[0] == matrnr:
        s = t
if s != "x":
    los.remove(s)
print(los)

Bitte Matrikelnummer eingeben: 123456
[('3737170', 'Maria', 'Lange'), ('3600491', 'Lea', 'Neumann'), ('3168860', 'Sophie', 'Herrmann'), ('3654565', 'Tim', 'Roth'), ('3321023', 'Sophie', 'Mayer'), ('3267019', 'Lucas', 'Weiß'), ('3523559', 'Lea', 'Sauer'), ('3493209', 'Maria', 'Wolf'), ('3574919', 'Jonas', 'Haas'), ('3334197', 'Laura', 'Thomas'), ('3236581', 'Lea', 'Kaiser'), ('3721437', 'Tim', 'Lehmann'), ('3624873', 'Emily', 'Arnold'), ('3198803', 'Leon', 'Dietrich'), ('3567015', 'Maximilian', 'Schmitt'), ('3706812', 'Emily', 'Lang'), ('3750317', 'Anna', 'Schuster'), ('3399591', 'Leonie', 'Pohl'), ('3523876', 'Marie', 'Braun'), ('3189668', 'Lea', 'Meyer'), ('3636184', 'Alexander', 'Böhm'), ('3517527', 'Lucas', 'Günther'), ('3442056', 'Maria', 'Heinrich'), ('3772008', 'Sophie', 'Hofmann'), ('3556036', 'Leonie', 'Wolff'), ('3751206', 'Tim', 'Berger'), ('3177045', 'Marie', 'Schäfer'), ('3380364', 'David', 'Möller'), ('3593264', 'Tim', 'Schäfer'), ('3429067', 'Lucas', 'Maier'), ('3658579', 'Leonie', 'Schulz'), ('3710190', 'Alexander', 'Otto'), ('3348131', 'David', 'Krämer'), ('3278178', 'David', 'Schwarz'), ('3313335', 'Lea', 'Wolf')]

**Liste abspeichern:** Speichern Sie die geänderte Liste wieder in obiger Datei ab. (Hinweis: Benutzen Sie erst einen anderen Dateinamne, bis das Programm funktioniert).

In [49]:
ndatei = open("stud2.txt", "w")
for s in los:
    stud = s[0] + ";" + s[1] + ";" + s[2] + "\n"
    ndatei.write(stud)

ndatei.close()